{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="media post-list">
        {% for article in articles_page.object_list %}

        <div class="media-body">
            <h3>
                <a href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark" title="{{ article.title|striptags }}">
                {{ article.title }}</a>
            </h3>

            <small>
            {{ article.locale_date }}
            </small>

            <p class="summary-blurb"><em>{{ article.summary }}</em></p>
            <a href="{{ SITEURL }}/{{ article.url }}">Read More</a>
        </div>

        <div><hr></div>
{% endfor %} </div> <!--/post-list--> {% include "pagination.html" %} </div>
{% endblock content %}
